In [1]:
from poker_project.data import prepare
import poker_project.data.holdem as hd
from matplotlib import pyplot as plt
import poker_project.data.visualize as vis
import poker_project.data.analyze as az
import numpy as np

In [2]:
import pandas as pd

import glob
import os
from io import StringIO

In [3]:
# Prepare the data set, return a dictionary of hands, player history, and players in games.
hdb = prepare.prepare_holdem('tourney', '[1]')

In [354]:
hdb.roster.query('timestamp == 807260508')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>5</th>
      <th>6</th>
      <th>7</th>
      <th>8</th>
      <th>9</th>
      <th>10</th>
      <th>...</th>
      <th>15</th>
      <th>16</th>
      <th>17</th>
      <th>18</th>
      <th>19</th>
      <th>20</th>
      <th>21</th>
      <th>22</th>
      <th>23</th>
      <th>24</th>
    </tr>
    <tr>
      <th>timestamp</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>807260508</th>
      <td>4</td>
      <td>SaraK</td>
      <td>UncleMeat</td>
      <td>apack</td>
      <td>doc_doc</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>...</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
<p>1 rows × 24 columns</p>
</div>

In [358]:
hdb.player.query('timestamp == "807260508"').sort_values('pos').shape
#hdb.player.query('name == "SaraK"').query("timestamp == '807260730'")

(3, 13)

In [369]:
# For example, get players from the game w/ timestamp '802704132'
# hdb.hand_roster(804624608)
s = hdb.hands.query('num_flop > 0').iloc[0:100, :].drop(['game_num', 'hand_num'], axis=1)
# s['flop_bet'] = s['flop_pot'] / s['num_flop']
# s['turn_bet'] = s['turn_pot'] / s['num_turn']
# s['river_bet'] = s['river_pot'] / s['num_river']
# s['showdown_bet'] = s['showdown_pot'] / s['num_showdown']
perm = [0, 2, 4, 6, 1, 3, 5, 7]
m = s.iloc[0:100, 1:11].values
r = m[:, perm]
ns = r[:, 0:4]
bs = r[:, 4:]
np.diff(bs)
s.iloc[0:10, 0:9]
#np.diff(bs, n=1)
#s.iloc[0:10, 12:]
# hdb.hands.iloc[0:10, 3:11].values - hdb.hands.iloc[0:10, 3:11].values

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>dealt_num</th>
      <th>num_flop</th>
      <th>flop_pot</th>
      <th>num_turn</th>
      <th>turn_pot</th>
      <th>num_river</th>
      <th>river_pot</th>
      <th>num_showdown</th>
      <th>showdown_pot</th>
    </tr>
    <tr>
      <th>timestamp</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>807260405</th>
      <td>4</td>
      <td>2</td>
      <td>840</td>
      <td>2</td>
      <td>840</td>
      <td>2</td>
      <td>840</td>
      <td>2</td>
      <td>1340</td>
    </tr>
    <tr>
      <th>807260508</th>
      <td>4</td>
      <td>3</td>
      <td>480</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1330</td>
    </tr>
    <tr>
      <th>807260570</th>
      <td>4</td>
      <td>2</td>
      <td>400</td>
      <td>2</td>
      <td>400</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>800</td>
    </tr>
    <tr>
      <th>807260651</th>
      <td>4</td>
      <td>2</td>
      <td>960</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1280</td>
      <td>2</td>
      <td>1280</td>
    </tr>
    <tr>
      <th>807260730</th>
      <td>4</td>
      <td>2</td>
      <td>400</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>1360</td>
    </tr>
    <tr>
      <th>807260763</th>
      <td>4</td>
      <td>2</td>
      <td>640</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2710</td>
      <td>2</td>
      <td>2710</td>
    </tr>
    <tr>
      <th>807260811</th>
      <td>4</td>
      <td>3</td>
      <td>660</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>1060</td>
      <td>2</td>
      <td>1060</td>
    </tr>
    <tr>
      <th>807260905</th>
      <td>3</td>
      <td>3</td>
      <td>960</td>
      <td>3</td>
      <td>960</td>
      <td>3</td>
      <td>960</td>
      <td>1</td>
      <td>1600</td>
    </tr>
    <tr>
      <th>807261134</th>
      <td>3</td>
      <td>2</td>
      <td>1280</td>
      <td>0</td>
      <td>0</td>
      <td>2</td>
      <td>2180</td>
      <td>2</td>
      <td>2180</td>
    </tr>
    <tr>
      <th>807295897</th>
      <td>10</td>
      <td>4</td>
      <td>125</td>
      <td>4</td>
      <td>125</td>
      <td>4</td>
      <td>125</td>
      <td>2</td>
      <td>325</td>
    </tr>
  </tbody>
</table>
</div>

In [244]:
#h = hdb.winning_hands().query('dealt_num == 2')
s = hdb.player.query('dealt_num == 2').reset_index()#.reset_index()#.sort_values(['timestamp', 'pos'])
# q = s[['timestamp', 'name', 'pos', 'bet_preflop', 'bet_flop']].reset_index(drop=True).set_index(['timestamp', 'pos']).sort_index()#.sort_values('pos')#.groupby('timestamp')#.iloc[0:50, 1:11]
x = s[['timestamp', 'name', 'pos']]
x = x.join(s['bet_preflop'].apply(lambda x: pd.Series(list(x))))
x = x.reset_index(drop=True).set_index(['timestamp', 'pos']).sort_index()
# x = x.loc['801373424',:]
# x['80137342']
# x = s['bet_preflop'].apply(list).apply(pd.Series, 1).stack()
# x.index = x.index.droplevel(-1)
# x.name = 'bet_preflop'
# del s['bet_preflop']
# s.join(x)
#q['turn'] = 0
#vis.plot_by(h, 'count')

In [332]:
# x.query('index.levels[0] == x.groupby(level=0).count().query("name == 2").index)')
#x.reset_index().set_index('timestamp').index.intersection(x.groupby(level=0).count().query('name == 2'))
# x[np.in1d(x.index.get_level_values(0), x.groupby(level=0).count().query('name == 2').index.tolist())]
# x.query('name.unique')
# hdb.hands.query('timestamp == 807260508').iloc[:, 0:11]
# hdb.roster.query('timestamp == 807260508')
# hdb.player.query('timestamp == "807260508"')

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>dealt_num</th>
      <th>pos</th>
      <th>bet_preflop</th>
      <th>bet_flop</th>
      <th>bet_turn</th>
      <th>bet_river</th>
      <th>bank_start</th>
      <th>action</th>
      <th>amt</th>
      <th>card_1</th>
      <th>card_2</th>
      <th>delta</th>
      <th>total_delta</th>
    </tr>
    <tr>
      <th>name</th>
      <th>timestamp</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>doc_doc</th>
      <th>807260508</th>
      <td>4</td>
      <td>4</td>
      <td>f</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>1120</td>
      <td>0</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>-122840</td>
    </tr>
    <tr>
      <th>apack</th>
      <th>807260508</th>
      <td>4</td>
      <td>2</td>
      <td>Bk</td>
      <td>kf</td>
      <td>-</td>
      <td>-</td>
      <td>640</td>
      <td>160</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>-160</td>
      <td>-88086</td>
    </tr>
    <tr>
      <th>UncleMeat</th>
      <th>807260508</th>
      <td>4</td>
      <td>1</td>
      <td>Bc</td>
      <td>kf</td>
      <td>-</td>
      <td>-</td>
      <td>3810</td>
      <td>160</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>-160</td>
      <td>-21246</td>
    </tr>
  </tbody>
</table>
</div>

In [264]:
# x[:, 1] = x.iloc[:, 1] = pd.Categorical(x.iloc[:, 1:])
# x.iloc[:, 1].cat.codes


def time_series(x):
    # x.set_index(['timestamp', 'pos'])
    if x.shape[0] == 2:
        arr = np.array(list(zip(x.reset_index().values[0][2:], x.reset_index().values[1][2:])))
        n = np.tile(arr[0], int(len(arr[2:].ravel()) / 2)).reshape(-1, 1)
        z = np.concatenate((n, arr[2:].ravel().reshape(-1, 1)), axis=1)
        # print(z)
        d = pd.DataFrame(z, columns=['pos', 'action'])
        return d.query('action != "nan"').set_index(['pos'])

In [265]:
# print(np.array(list(zip(x.reset_index().values[0][0:], x.reset_index().values[1][0:]))).reshape(-1, 1)[4:])
#print(np.array(list(zip(x.loc['801373424', :].reset_index().values[0][1:], x.loc['801373424', :].reset_index().values[1][1:]))).T)
# print(pd.Series(x.loc['801373424', :].values.T.ravel()[2:]).dropna().reset_index())
#srs = x.groupby(level=0).apply(lambda x: x.values.T.ravel())#.reset_index().set_index('timestamp')#.apply(lambda x: x)#.apply(lambda x: x.values.T.ravel()[4:])
#print(srs.apply())#[:, 0:2])
# np.dstack((arr[0:2], arr[2:]))
# arr = np.where(arr == 'nan', np.nan)
g = x.reset_index().groupby('timestamp')
# g.get_group('801373424').set_index(['timestamp', 'pos'])
# arr = np.array(list(zip(x.reset_index().values[0][0:], x.reset_index().values[1][0:]))))#[2:]
# n = np.tile(arr[0:3], int(len(arr[3:].ravel()) / 2))
# z = np.concatenate((n.T, arr[3:].ravel().reshape(-1, 1)), axis=1)
# d = pd.DataFrame(z, columns=['timestamp', 'pos', 'name', 'action'])
# d.query('action != "nan"').set_index(['timestamp', 'pos'])
g.apply(lambda x: time_series(x))
#print(z)
# pd.DataFrame(z).dropna()
# np.vstack((n, arr[2:])).reshape((-1, 2))

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>action</th>
    </tr>
    <tr>
      <th>timestamp</th>
      <th>pos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="2" valign="top">801373424</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">801373442</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c</td>
    </tr>
    <tr>
      <th>2</th>
      <td>k</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">801373477</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>r</td>
    </tr>
    <tr>
      <th>2</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">801373488</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c</td>
    </tr>
    <tr>
      <th>2</th>
      <td>k</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">801373516</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">801373519</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c</td>
    </tr>
    <tr>
      <th>2</th>
      <td>k</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">801373563</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>r</td>
    </tr>
    <tr>
      <th>2</th>
      <td>c</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">801373587</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="2" valign="top">801373596</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>...</th>
      <th>...</th>
      <td>...</td>
    </tr>
    <tr>
      <th>812529916</th>
      <th>2</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">812529922</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="4" valign="top">812529924</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>r</td>
    </tr>
    <tr>
      <th>2</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">812529934</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">812529936</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="7" valign="top">812529939</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c</td>
    </tr>
    <tr>
      <th>2</th>
      <td>r</td>
    </tr>
    <tr>
      <th>1</th>
      <td>c</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A</td>
    </tr>
    <tr>
      <th rowspan="3" valign="top">812529958</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>f</td>
    </tr>
    <tr>
      <th rowspan="6" valign="top">812529970</th>
      <th>1</th>
      <td>B</td>
    </tr>
    <tr>
      <th>2</th>
      <td>B</td>
    </tr>
    <tr>
      <th>1</th>
      <td>r</td>
    </tr>
    <tr>
      <th>2</th>
      <td>c</td>
    </tr>
    <tr>
      <th>1</th>
      <td>A</td>
    </tr>
    <tr>
      <th>2</th>
      <td>A</td>
    </tr>
  </tbody>
</table>
<p>70028 rows × 1 columns</p>
</div>

In [105]:
print(x.reset_index())

       timestamp  pos      name  0    1    2    3    4
0      801373424    1     ahyde  B  NaN  NaN  NaN  NaN
1      801373424    2       jzk  f  NaN  NaN  NaN  NaN
2      801373442    1     ahyde  B    c  NaN  NaN  NaN
3      801373442    2       jzk  B    k  NaN  NaN  NaN
4      801373477    1       jzk  B    r  NaN  NaN  NaN
5      801373477    2     ahyde  B    f  NaN  NaN  NaN
6      801373488    1     ahyde  B    c  NaN  NaN  NaN
7      801373488    2       jzk  B    k  NaN  NaN  NaN
8      801373516    1       jzk  B    f  NaN  NaN  NaN
9      801373516    2     ahyde  B  NaN  NaN  NaN  NaN
10     801373519    1     ahyde  B    c  NaN  NaN  NaN
11     801373519    2       jzk  B    k  NaN  NaN  NaN
12     801373563    1       jzk  B    r  NaN  NaN  NaN
13     801373563    2     ahyde  B    c  NaN  NaN  NaN
14     801373587    1     ahyde  B    f  NaN  NaN  NaN
15     801373587    2       jzk  B  NaN  NaN  NaN  NaN
16     801373596    1       jzk  B    f  NaN  NaN  NaN
17     801373596    2     ahyde  B  NaN  NaN  NaN  NaN
18     801373600    1     ahyde  B    r    A  NaN  NaN
19     801373600    2       jzk  B    c  NaN  NaN  NaN
20     801373631    1       jzk  B    f  NaN  NaN  NaN
21     801373631    2     ahyde  B  NaN  NaN  NaN  NaN
22     801373644    1     ahyde  B    f  NaN  NaN  NaN
23     801373644    2       jzk  B  NaN  NaN  NaN  NaN
24     801373650    1       jzk  B    f  NaN  NaN  NaN
25     801373650    2     ahyde  B  NaN  NaN  NaN  NaN
26     801373652    1     ahyde  B    f  NaN  NaN  NaN
27     801373652    2       jzk  B  NaN  NaN  NaN  NaN
28     801373660    1       jzk  B    r  NaN  NaN  NaN
29     801373660    2     ahyde  B    f  NaN  NaN  NaN
...          ...  ...       ... ..  ...  ...  ...  ...
38898  812529884    1  sagerbot  B    f  NaN  NaN  NaN
38899  812529884    2      bobk  B  NaN  NaN  NaN  NaN
38900  812529886    1      bobk  B    f  NaN  NaN  NaN
38901  812529886    2  sagerbot  B  NaN  NaN  NaN  NaN
38902  812529893    1  sagerbot  B    r  NaN  NaN  NaN
38903  812529893    2      bobk  B    f  NaN  NaN  NaN
38904  812529899    1      bobk  B    f  NaN  NaN  NaN
38905  812529899    2  sagerbot  B  NaN  NaN  NaN  NaN
38906  812529903    1  sagerbot  B    r  NaN  NaN  NaN
38907  812529903    2      bobk  B    f  NaN  NaN  NaN
38908  812529910    1      bobk  B    f  NaN  NaN  NaN
38909  812529910    2  sagerbot  B  NaN  NaN  NaN  NaN
38910  812529913    1  sagerbot  B    f  NaN  NaN  NaN
38911  812529913    2      bobk  B  NaN  NaN  NaN  NaN
38912  812529916    1      bobk  B    r  NaN  NaN  NaN
38913  812529916    2  sagerbot  B    f  NaN  NaN  NaN
38914  812529922    1  sagerbot  B    f  NaN  NaN  NaN
38915  812529922    2      bobk  B  NaN  NaN  NaN  NaN
38916  812529924    1      bobk  B    r  NaN  NaN  NaN
38917  812529924    2  sagerbot  B    f  NaN  NaN  NaN
38918  812529934    1  sagerbot  B    f  NaN  NaN  NaN
38919  812529934    2      bobk  B  NaN  NaN  NaN  NaN
38920  812529936    1      bobk  B    f  NaN  NaN  NaN
38921  812529936    2  sagerbot  B  NaN  NaN  NaN  NaN
38922  812529939    1  sagerbot  B    c    c    A  NaN
38923  812529939    2      bobk  B    r    A  NaN  NaN
38924  812529958    1      bobk  B    f  NaN  NaN  NaN
38925  812529958    2  sagerbot  B  NaN  NaN  NaN  NaN
38926  812529970    1  sagerbot  B    r    A  NaN  NaN
38927  812529970    2      bobk  B    c    A  NaN  NaN

[38928 rows x 8 columns]

In [39]:
h['c1_val']

22    2
27    1
35    4
36    2
40    4
Name: digit1, dtype: int64

In [36]:
#h.query("c1_val == c2_val").head()#.plot.scatter(y="delta")
plt.clf()
# h.pos = h.pos.apply(pd.to_numeric)
# h.delta = h.delta.apply(pd.to_numeric)
# g = h.set_index('pos').sort_index()
g = h[['pos', 'delta']].groupby('pos').mean()
f = h.query('delta > 0')[['pos', 'delta']].groupby('pos').count()
# z = h.query('')
#g = h.sort_values('pos').set_index('pos')
g.plot(kind='bar')
f.plot(kind='bar')
# vis.plot_by(g, 'winrate')
# vis.plot_by(g, 'winrate')
#h[['pos', 'delta']].plot.bar(x='pos', height='delta')#x='pos')#, y='delta')
plt.show()
# az.stats(g[1])
# d1 = az.stats(g.loc[1.0, :])
# d2 = az.stats(g.loc[2.0, :])
# d = pd.concat([d1, d2])

In [5]:
h.sort_values.set_index('name').iloc[0:10]

AttributeError: 'function' object has no attribute 'set_index'

In [36]:
plt.clf()
vis.plot_by(h, 'ev')

0    11888
Name: count, dtype: int64
0    56571
Name: count, dtype: int64
0    20902
Name: count, dtype: int64
0    47557
Name: count, dtype: int64
0    35669
Name: count, dtype: int64
0    68459
Name: count, dtype: int64

In [19]:
np.unique(hdb.player.reset_index().set_index('name').index.values).size

1289

In [28]:
np.unique(h.reset_index().set_index('name').index.values).size

1126

In [56]:
a = h.reset_index().groupby('name').count().sort_values('timestamp', ascending=False).iloc[0:225, 0]
a.sum()

73190

In [20]:
# Total number of games where hands were shown
numGamesShown = len(h['timestamp'].unique())
print(numGamesShown)

45258

In [23]:
# Total number of hands that were shown
numTotalShown = h.count()[0]
print(numTotalShown)

97398

In [24]:
# Games shown out of all games
print(numGamesShown / hdb.hands.shape[0])

0.37941065515362365

In [13]:
# Hands shown per game
print(numTotalShown / hdb.hands.shape[0])

0.7868316936016937

In [21]:
# Hands shown out of all hands
print(numTotalShown / hdb.hands['dealt_num'].sum())

NameError: name 'numTotalShown' is not defined

In [1]:
h = hdb

NameError: name 'hdb' is not defined

In [39]:
h.player.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th></th>
      <th>dealt_num</th>
      <th>pos</th>
      <th>bet_preflop</th>
      <th>bet_flop</th>
      <th>bet_turn</th>
      <th>bet_river</th>
      <th>bank_start</th>
      <th>action</th>
      <th>amt</th>
      <th>card_1</th>
      <th>card_2</th>
      <th>delta</th>
      <th>total_delta</th>
    </tr>
    <tr>
      <th>name</th>
      <th>timestamp</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th rowspan="5" valign="top">dingbot</th>
      <th>818553530</th>
      <td>11</td>
      <td>7</td>
      <td>c</td>
      <td>f</td>
      <td>-</td>
      <td>-</td>
      <td>10000</td>
      <td>175</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>-175</td>
      <td>-175</td>
    </tr>
    <tr>
      <th>818553604</th>
      <td>11</td>
      <td>6</td>
      <td>f</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>9825</td>
      <td>0</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>-175</td>
    </tr>
    <tr>
      <th>818553689</th>
      <td>11</td>
      <td>5</td>
      <td>f</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>9825</td>
      <td>0</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>-175</td>
    </tr>
    <tr>
      <th>818553781</th>
      <td>9</td>
      <td>3</td>
      <td>cc</td>
      <td>k</td>
      <td>kf</td>
      <td>-</td>
      <td>9825</td>
      <td>300</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>-300</td>
      <td>-475</td>
    </tr>
    <tr>
      <th>818553926</th>
      <td>9</td>
      <td>3</td>
      <td>f</td>
      <td>-</td>
      <td>-</td>
      <td>-</td>
      <td>9525</td>
      <td>0</td>
      <td>0</td>
      <td>None</td>
      <td>None</td>
      <td>0</td>
      <td>-475</td>
    </tr>
  </tbody>
</table>
</div>

In [18]:
# We found that theres an extremely low rate of hands shown in NoLimit poker. 
# About 8.5% out of all games in our sample show hands, and 6.4% out of all hands are shown.
# This may be problematic and require further research or consideration into widening our scope
# from just NoLimit poker, where there are much much larger datasets.
0    3130
Name: count, dtype: int64
0    18667
Name: count, dtype: int64
0    6802
Name: count, dtype: int64
0    14995
Name: count, dtype: int64
0    11865
Name: count, dtype: int64
0    21797
Name: count, dtype: int64

0    13954
Name: count, dtype: int64
0    83444
Name: count, dtype: int64
0    30880
Name: count, dtype: int64
0    66518
Name: count, dtype: int64
0    52564
Name: count, dtype: int64
0    97398
Name: count, dtype: int64